*
{
    margin:0;
    padding:0;
}
body {
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("/static/images/pexels-steve-johnson-1509534.jpg");
    background-position: center;
    background-size: cover;
}